@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/mixins';

.root {
  padding-top: 60px;
  background-color: $light11;

  @include rwd(834) {
    padding-top: 80px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  @include lg {
    padding: 80px 80px;
  }

  @include xl {
    padding: 80px 120px;
  }
}

.headSection {
  position: relative;
  margin: 0 auto;
  background-color: $light1;
  max-width: 1800px;

  @include md {
    display: flex;
    background-color: $light11;
  }

  p {
    margin-bottom: 30px;
    padding: 0 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    color: $dark3;

    @include sm {
      padding: 0 30px;
    }

    @include md {
      padding: 60px 80px;
      font-size: 19px;
      line-height: 35px;
      margin-right: 25%;
      margin-bottom: 0;
      min-width: 340px;
    }

    @include lg {
      margin-right: 81px;
      font-size: 20px;
      line-height: 38px;
      padding: 84px 79px 86px 100px;
    }

    @include xl {
      margin-right: 74px;
      padding: 85px 180px;
    }
  }
}

.textGroup {
  @include sm {
    min-height: 367px;
    padding-right: 48%;
  }

  @include md {
    min-height: auto;
    padding: 0;
    flex-basis: 67%;
  }

  @include lg {
    flex-basis: 56%;
  }
}

.mainTitle {
  padding: 40px 40px 25px;

  @include sm {
    padding: 30px 30px 25px;
  }

  @include md {
    position: relative;
    z-index: 1;
    margin: 70px 0 0;
    padding: 70px 90px;
    background-color: $light1;
    min-width: 684px;
  }

  @include lg {
    margin: 100px 0 0;
    padding: 100px 80px;
  }

  @include xl {
    padding: 100px 120px;
  }

  h1 {
    font-family: $title_font;
    font-weight: bold;
    font-size: 24px;
    line-height: 160%;
    color: $dark1;

    @include md {
      font-size: 42px;
      line-height: 62px;
    }

    @include lg {
      font-size: 52px;
      line-height: 73px;
    }
  }
}

.location {
  @include md {
    flex-basis: 51%;
    margin-left: -184px;
  }

  @include lg {
    flex-basis: 52%;
    margin-left: -81px;
    min-width: 745px;
  }

  @include xl {
    flex-basis: 51%;
    margin-left: -74px;
    min-width: 924px;
  }
}

.headImgContainer {
  padding: 0 25px;

  @include sm {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 48%;
  }

  @include md {
    position: static;
    width: 100%;
  }
}

.headImg {
  width: 100%;
  height: 268px;

  @include sm {
    min-width: 320px;
    height: 367px;
  }

  @include md {
    height: 562px;
    min-width: 523px;
  }

  @include lg {
    height: 690px;
  }
}

.locationContainer {
  background-color: $red2;
  padding: 20px 65px;

  @include sm {
    padding: 28px 35px;
  }

  @include md {
    padding: 42px 55px;
  }

  @include lg {
    padding: 35px 110px;
  }

  @include xl {
    padding: 35px 200px;
  }

  h2 {
    display: block;
    font-family: $title_font;
    color: $light1;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    @include sm {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include md {
      display: block;
      font-size: 22px;
      line-height: 40px;
    }

    @include lg {
      font-size: 28px;
      line-height: 42px;
    }

    svg {
      width: 16px;
      height: 16px;
      margin: 0 0 0 10px;

      @include md {
        width: 22px;
        height: 22px;
        margin: 0 0px -3px 15px;
      }

      @include lg {
        width: 25px;
        height: 25px;
        margin: 0 0px -3px 25px;
      }
    }
  }
}

.locationPlus {
  fill: $light1;
}

.expandingSection {
  background-color: $light1;
}

.expandingContent {
  display: flex;
  flex-direction: column;
  padding: 30px 25px 35px;
  margin: 0 auto;

  @include sm {
    padding: 30px;
  }

  @include md {
    flex-direction: row;
    align-items: center;
    padding: 70px 60px;
  }

  @include lg {
    padding: 70px 75px 70px 100px;
  }

  @include xl {
    max-width: 1640px;
  }

  h3 {
    margin-bottom: 35px;
    padding-left: 22px;
    border-left: solid 8px $red2;
    color: $dark4;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    @include sm {
      width: 467px;
      padding-left: 37px;
      margin: 0 auto 30px;
      font-size: 18px;
      line-height: 175%;
    }

    @include md {
      flex: 1 1 375px;
      padding-left: 40px;
      border-left: solid 10px $red2;
      font-size: 22px;
      line-height: 42px;
      margin: 0 60px 0 0;
      max-width: 375px;
    }

    @include lg {
      flex: 1 1 445px;
      max-width: 505px;
      margin-right: 91px;
      padding-left: 50px;
      font-size: 30px;
      line-height: 54px;
    }

    @include xl {
      margin-right: 186px;
    }
  }

  p {
    margin-bottom: 0;
    color: $dark3;
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    padding: 0 20px;

    @include sm {
      padding: 0;
    }

    @include md {
      flex: 1 1 329px;
      padding: 0;
      font-size: 20px;
      line-height: 38px;
    }

    @include lg {
      padding-right: 5px;
      font-size: 20px;
      line-height: 38px;
    }

    @include xl {
      max-width: 704px;
    }
  }
}

.navigateSection {
  background-color: $light9;
}

.navigateBlock {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 35px;
  margin: 0 auto;

  @include md {
    max-width: 1440px;
    padding: 65px 0 60px;
    align-items: center;
  }

  @include lg {
    flex-direction: row;
    align-items: stretch;
    padding: 113px 86px 105px 70px;
  }
  @include xl {
    padding: 113px 147px 105px 173px;
  }

  h2 {
    margin-bottom: 20px;
    font-family: $title_font;
    font-weight: 700;
    text-align: center;
    color: $light15;

    @include md {
      max-width: 678px;
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 42px;
    }

    @include lg {
      max-width: none;
      flex: 1 1 585px;
      padding-right: 20px;
      font-size: 37px;
      line-height: 64px;
      text-align: left;
    }
  }
}

.navigateContent {
  display: flex;
  flex-direction: column;

  @include md {
    align-items: center;
  }

  @include lg {
    max-width: 535px;
    flex: 1 1 535px;
    align-items: stretch;
  }
}

.navigateContent > p {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: $dark3;

  @include md {
    max-width: 700px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 28px;
  }

  @include lg {
    max-width: none;
    margin-top: 11px;
    margin-bottom: 53px;
    text-align: left;
  }
}

.navigateContent > a {
  align-self: center;
  @include md {
    align-self: flex-start;
  }
}

.link {
  color: $dark3;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 2px 0 2px 8px;
  border-left: 8px solid $red2;
  transition: none;

  @include effects {
    color: $red2;
  }

  @include md {
    border-left: 12px solid $red2;
    padding: 5px 0 5px 18px;
    font-size: 14px;
    line-height: 16px;
  }

  @include lg {
    border-left: 13px solid $red2;
    font-size: 16px;
    line-height: 19px;
  }
}

.approachSection {
  background-color: $light1;
}

.approachBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1800px;
  margin: 0 auto;

  @include sm {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 25px 0 30px;
  }

  @include md {
    flex-direction: row;
    padding: 70px 30px 0 60px;
  }

  @include lg {
    justify-content: flex-start;
    padding: 75px 75px 0 0;
  }

  @include xl {
    padding: 75px 75px 0 0;
  }
}

.approachText {
  display: flex;
  flex-direction: column;
  padding: 35px 40px;

  @include sm {
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 40px 0 0;
    flex-basis: 37%;
    box-sizing: content-box;
  }

  @include md {
    margin-bottom: 0;
    flex-basis: 380px;
    padding: 0 50px 0 0;
  }

  @include lg {
    flex: 1 1 430px;
    padding: 25px 100px 100px;
    margin-right: 146px;
    max-width: 430px;
  }

  @include xl {
    flex: 1 1 435px;
    margin-right: 127px;
    padding: 25px 190px 100px;
  }

  p {
    margin-bottom: 28px;
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    color: $dark3;

    @include sm {
      margin-bottom: 29px;
      font-size: 17px;
      line-height: 170%;
    }

    @include md {
      font-size: 19px;
      line-height: 35px;
      margin-bottom: 35px;
    }

    @include lg {
      font-size: 20px;
      line-height: 38px;
      margin-bottom: 38px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.approachCard {
  padding: 28px 40px;
  background-color: $light11;

  @include sm {
    flex-basis: 100%;
    flex-grow: 1;
    margin: 0 -25px 0 -30px;
    display: flex;
    justify-content: center;
    padding: 33px 25px 33px 50px;
  }

  @include md {
    margin: 90px -30px 0 -60px;
    padding: 53px 100px 52px 60px;
  }

  @include lg {
    margin: 0;
    padding: 100px;
    max-width: 775px;
    flex-basis: 775px;
    flex-grow: 0;
    position: relative;
    flex-direction: column;
  }

  @include xl {
    padding: 100px 180px 100px 185px;
    max-width: 942px;
    flex-basis: 942px;
  }

  p {
    margin-bottom: 0;
    color: $dark3;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    @include sm {
      max-width: 295px;
    }

    @include md {
      max-width: 358px;
      font-size: 22px;
      line-height: 37px;
    }

    @include lg {
      font-size: 26px;
      line-height: 50px;
      padding-left: 65px;
      width: 100%;
      max-width: 100%;
    }
  }
}

.approachTitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sm {
    white-space: nowrap;
    margin: 0 60px 0 0;
  }

  @include md {
    margin: 0 65px 0 0;
  }

  @include lg {
    margin: 0 0 40px;
    justify-content: flex-start;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    flex-shrink: 0;

    @include md {
      width: 26px;
      height: 26px;
      margin-right: 30px;
    }

    @include lg {
      width: 30px;
      height: 30px;
      margin-right: 35px;
    }
  }

  h2 {
    font-family: $title_font;
    color: $dark1;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    @include md {
      font-size: 42px;
      line-height: 62px;
    }

    @include lg {
      font-size: 52px;
      line-height: 70px;
    }
  }
}

.approachTitlePlus {
  fill: $red2;
}

.approachImgContainer {
  padding: 0 25px;

  @include sm {
    padding: 0;
    margin-bottom: 30px;
  }

  @include md {
    flex-basis: 50%;
    margin-bottom: 0;
  }

  @include lg {
    flex-grow: 1;
    min-width: 700px;
    margin-left: -146px;
    margin-bottom: -305px;
  }

  @include xl {
    margin-left: -127px;
    margin-bottom: -365px;
    max-width: 805px;
  }
}

.approachImg {
  width: 100%;
  height: 293px;

  @include sm {
    width: 322px;
    height: 369px;
  }

  @include md {
    width: 504px;
    height: 355px;
  }

  @include lg {
    height: 794px;
    width: 100%;
  }
}

.principlesSection {
  background-color: $light1;
}

.principlesBlock {
  max-width: 1800px;
  margin: 0 auto;
  padding: 35px 40px 0;
  background-color: $light1;

  @include sm {
    padding: 40px 25px 10px 30px;
  }

  @include md {
    padding: 70px 100px 10px;
  }

  @include lg {
    padding: 80px 190px 20px;
  }

  @include xl {
    padding: 80px 335px 20px;
  }
}

.principlesIntro {
  color: $dark3;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;

  @include sm {
    line-height: 175%;
  }

  @include md {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 80px;
  }

  @include lg {
    margin-bottom: 85px;
    font-size: 26px;
    line-height: 56px;
  }
}

.principlesItemsContainer {
  @include sm {
    padding: 0 60px;
  }

  @include md {
    padding: 0;
  }
}

.principlesRow {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @include lg {
    margin-bottom: 80px;
  }

  span {
    display: block;
    margin-bottom: 16px;
    border-left: 6px solid $red2;
    padding: 2px 0 2px 16px;
    font-family: $title_font;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $dark3;

    @include sm {
      border-left: 8px solid $red2;
      padding: 0 0 0 18px;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 26px;
    }

    @include md {
      border-left: 9px solid $red2;
      font-size: 26px;
      line-height: 30px;
      padding: 0 0 0 20px;
      margin-bottom: 30px;
    }

    @include lg {
      border-left: 10px solid $red2;
      margin-bottom: 45px;
      font-size: 34px;
      line-height: 35px;
    }
  }

  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 170%;
    margin: 0 0 40px;
    color: $dark3;

    @include sm {
      padding-left: 26px;
      font-size: 17px;
      line-height: 170%;
    }

    @include md {
      padding: 0;
      margin-left: 29px;
      font-size: 19px;
      line-height: 35px;
      max-width: 350px;
    }

    @include lg {
      max-width: 430px;
      font-size: 20px;
      line-height: 38px;
    }
  }
}

.joinUsSection {
  background-color: $light9;
}

.joinUsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 35px 0;

  @include md {
    padding: 50px 0;
  }

  @include lg {
    padding: 65px 0;
  }
}

.joinUsTitle {
  margin-bottom: 25px;
  font-family: $title_font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $dark3;

  @include sm {
    font-size: 20px;
    line-height: 30px;
  }

  @include md {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }

  @include lg {
    margin-bottom: 35px;
    font-size: 28px;
    line-height: 42px;
  }

  &:after {
    content: '';
    display: block;
    margin: 15px auto 0;
    width: 170px;
    height: 5px;
    background-color: $dark3;

    @include md {
      width: 200px;
      margin-top: 25px;
    }

    @include lg {
      margin-top: 30px;
    }
  }
}

.joinUsText {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 30px;

  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: $dark3;

  @include sm {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 23px;
  }

  @include md {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 28px;
  }

  @include lg {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
  }
}
