@mixin effects {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin effects {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Large tablets and desktops
$screen-xl-min: 1440px;

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}