@mixin effects {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin effects {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
