$red1: #d31f31;
$red2: #c42026;
$red3: #c62026;
$red4: #b31f24;
$red5: #a81e27;
$red6: rgba(196, 32, 38, 0.51);
$red7: #e3323d;

$dark1: #0b1726;
$dark2: #0c1713;
$dark3: #091624;
$dark4: #000;
$dark5: rgba(9, 22, 36, 0.51);
$dark6: #070707;

$light1: #fff;
$light2: #e5e5e5;
$light3: #e7e5e4;
$light4: #d9d9d8;
$light5: #cdcdcc;
$light6: #f1ebe8;
$light7: #c5c0bf;
$light8: #a9a9a9;
$light9: #efefef;
$light10: #edecec;
$light11: #f7f7f7;
$light12: #808080;
$light13: #a7a7a7;
$light14: #a5a5a5;
$light15: #98a3ad;
$light16: #808080;
$light17: #85948f;
$light18: #a6a6a6;
$light19: #eeeeee;
$light20: #f6f6f6;
$light21: #b4b4b4;
$light22: #f8f8f8;
$light23: #d6e1e5;
$light24: rgba(255, 255, 255, 0.66);
$light25: #fcfcfc;
$light26: #91918e;
$light27: #ccd0d3;
$light28: #e8e5e5;
$light29: #eff3f3;
$light30: #555;
$light31: #f9f9f9;

$green1: #174d4d;
$green2: #0e5860;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$title-font: 'Poppins', sans-serif;

$overlay-z-index: 9999;
