@import '../../../../styles/variables';

.container {
  display: inline-block;
  padding: 5px 10px;
  background-color: $light9;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  color: $dark3;
  text-transform: uppercase;
}
