@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  margin-top: 60px;

  @include rwd(834) {
    margin-top: 80px;
  }

  @include md {
    padding: 50px 100px 0;
  }

  @include lg {
    @include clearfix;
    padding: 60px 120px;
    max-width: 1440px;
    margin: 80px auto 0;
  }

  @include xl {
    max-width: 1800px;
    padding: 60px 150px 60px 220px;
  }
}

.header {
  padding: 40px 40px 30px;
  background-color: $light1;

  @include sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: transparent;
  }

  @include rwhd($screen-sm-min, 297px) {
    padding: 40px;
  }

  @include md {
    float: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0;
  }

  @include lg {
    float: right;
    width: 40%;
    padding-left: 90px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  @include xl {
    width: 46.8%;
    margin-bottom: 70px;
    padding: 30px 0 0 80px;
  }
}

.title {
  margin-bottom: 20px;
  font-family: $title-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: $dark3;

  @include sm {
    margin-bottom: 0;
  }

  @include md {
    max-width: 217px;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 42px;
  }

  @include lg {
    max-width: 100%;
    margin-bottom: 30px;
  }

  @include xl {
    margin-bottom: 35px;
  }
}

.text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: $dark3;

  @include sm {
    max-width: 322px;
  }

  @include md {
    max-width: 375px;
    font-size: 16px;
    line-height: 26px;
  }

  @include lg {
    max-width: 100%;
  }

  @include xl {
    max-width: 528px;
  }
}

.content {
  @include lg {
    float: left;
    width: 60%;
  }

  @include xl {
    width: 53.1%;
  }
}

.submitMsg {
  display: flex;
  justify-content: center;
  height: 362px;
  padding: 20px 60px 50px;
  background-color: $light1;

  @include sm {
    height: 313px;
    margin: 0 80px 0 70px;
    padding: 40px 100px 30px;
  }
  @include md {
    height: 666px;
    margin: 0 0 50px 0;
    padding: 140px 200px 60px;
  }

  @include lg {
    margin-bottom: 0;
    padding: 120px 150px 60px;
  }
}

.form {
  padding: 0 40px 30px;
  background-color: $light1;

  @include sm {
    padding: 40px 58px;
  }

  @include md {
    margin-bottom: 50px;
    padding: 60px 96px;
  }

  @include lg {
    margin-bottom: 0;
    padding: 60px 65px;
  }

  @include xl {
    padding: 60px 85px;
    width: 760px;
  }
}

.footer {
  padding: 40px;

  @include sm {
    padding: 40px 40px 0;
  }

  @include md {
    width: 100%;
    display: flex;
    padding: 0;
  }

  @include lg {
    float: right;
    width: 40%;
    padding-left: 90px;
  }

  @include xl {
    width: 46.8%;
    padding: 0 0 0 80px;
  }
}

@media (min-width: 1440px) and (max-width: 1700px) {
  .header{
    margin-bottom: 40px;
    padding: 10px 0 0 210px;
    }
    .footer{
      padding: 0 0 0 210px;
    }
}

